.gpt3__blog-container_article {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--color-footer);
    font-family: var(--font-family);
    color: #fff;
    padding: 1rem;
}

.gpt3__blog-container_article-image {
    width: 100%;
    height: 100%;
    background: var(--color-bg);
}

.gpt3__blog-container_article-image img {
    width: 100%;
    height: 100%;
}


.gpt3__blog-container_article-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 1rem;
}

.gpt3__blog-container_article-content p {
    font-weight: 700;
    font-size: 11.649px;
    line-height: 35px;
}

.gpt3__blog-container_article-content h3 {
    font-weight: 800;
    font-size: 25.11px;
    line-height: 30px;
    padding-bottom: 1rem;
}

